<?xml version=
        "1.0"
        encoding=
        "UTF-8"
        ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">

    <display-name>FirstProject</display-name>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <context-param>
        <param-name>mailInit</param-name>
        <param-value>mailOffline.properties</param-value>
    </context-param>
    <context-param>
        <param-name>dbInit</param-name>
        <param-value>db.properties</param-value>
    </context-param>
    <servlet>
        <display-name>MainServletDisplay</display-name>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>by.fyodorov.musicstore.controller.MainServlet</servlet-class>

        <!--multipart-config>
            <location>/</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config-->
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/signUp</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/findTrack</url-pattern>
        <url-pattern>/trackInfo</url-pattern>
        <url-pattern>/comment</url-pattern>
        <url-pattern>/buyTrack</url-pattern>
        <url-pattern>/viewUserTracks</url-pattern>
        <url-pattern>/viewUserAlbums</url-pattern>
        <url-pattern>/viewUserAssemblages</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LogoutFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.LogoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.RegisterFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SignUpFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.SignUpFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TrackFindFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.TrackFindFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TrackInfoFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.TrackInfoFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CommentAddFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.CommentAddFilter</filter-class>
        <init-param>
            <param-name>index</param-name>
            <param-value>/</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>BuyTrackFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.BuyTrackFilter</filter-class>
    </filter>
    <filter>
        <filter-name>OwnTracksViewFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.OwnTrackViewFilter</filter-class>
    </filter>
    <filter>
        <filter-name>OwnAlbumsViewFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.OwnAlbumViewFilter</filter-class>
    </filter>
    <filter>
        <filter-name>OwnAssemblagesViewFilter</filter-name>
        <filter-class>by.fyodorov.musicstore.filter.OwnAssemblageViewFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LogoutFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <url-pattern>/register</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignUpFilter</filter-name>
        <url-pattern>/signUp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TrackFindFilter</filter-name>
        <url-pattern>/findTrack</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TrackInfoFilter</filter-name>
        <url-pattern>/trackInfo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CommentAddFilter</filter-name>
        <url-pattern>/comment</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>BuyTrackFilter</filter-name>
        <url-pattern>/buyTrack</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OwnTracksViewFilter</filter-name>
        <url-pattern>/viewUserTracks</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OwnAlbumsViewFilter</filter-name>
        <url-pattern>/viewUserAlbums</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>OwnAssemblagesViewFilter</filter-name>
        <url-pattern>/viewUserAssemblages</url-pattern>
    </filter-mapping>

    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>512</error-code>
        <location>/jsp/errorPage.jsp</location>
    </error-page>
    <jsp-config>
        <taglib>
            <taglib-uri>customTags</taglib-uri>
            <taglib-location>WEB-INF/tld/customTags.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
